{% extends 'base.html' %}

{% block title %}
    Home Page - Your Website
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Your Job Search Website!</h1>
        <p class="lead">Find your dream job with ease.</p>
        <hr class="my-4">
        <p>Start browsing our latest job listings now.</p>
    </div>
  
    <div class="row mt-4">
        {% for job in jobs %}

        <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card w-100 my-2 shadow-2-strong">
                <img src="{{job.photo.url}}" class="card-img-top" alt = "{{ job.title }} Photo"/>
                <div class="card-body d-flex flex-column">
                    <p class="mt-3">Salary: <strike>Rs. {{job.salary}}</strike> Negotialble</p>
                    <p class="card-text">{{job.title}}</p>
                    
                    <div class="button-container">


                        {% if user.is_authenticated %}
                        <form method="post" action="{% url 'savehome_submit' job.id %}">
                
                          {% csrf_token %}
                          <button type="submit" class="save-btn">Save</button>
                        </form>
                
                        <form method="post" action="{% url 'jobPortal_home_jobs' job.id %}">
                          {% csrf_token %}
                          <button type="submit" class="apply-btn">Apply
                          </button>
                        </form>
                        {% endif %}
                
                        {% if user.is_superuser %}
                        <form method="post" action="{% url 'delete_jobs' job.id %}">
                          {% csrf_token %}
                          <button type="submit" class="delete-btn">Delete</button>
                        </form>
                        {% endif %}
                
                      </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
