{% extends 'base.html' %}

{% block title %}Saved Jobs{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center bg-success text-light">{{ message }}</h2>
  
  <h4 class="mt-5">Saved Jobs</h4>
  <div class="table-responsive">
    <table class="table table-bordered table-hover mt-3">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Photo</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for savedjob in saveddata %}
        <tr>
          <td>{{ savedjob.job.title }}</td>
          <td>{{ savedjob.job.description }}</td>
          <td>
            {% if savedjob.job.photo %}
            <img src="{{ savedjob.job.photo.url }}" style="width: 200px; height: 200px;" alt="{{ savedjob.job.title }}" class="img-thumbnail img-fluid">
            {% else %}
            No Photo Available
            {% endif %}
          </td>
          <td>
            <form method="post" action="{% url 'jobPortal_home_jobs' savedjob.job.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Apply</button>
            </form>
            <form method="post" action="{% url 'delete_saved_jobs' savedjob.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
