{% extends "base.html" %}

{% block title %}
Add Job
{% endblock %}

{% block style%}
<style>
    .addjobbody {
        padding-top: 50px;
    }
</style>
{% endblock %}

{% block content %}
<div class="addjobbody">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Add Job</h2>
                <form method="post" action="{% url 'addjobs' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="job_title">Job Title:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="job_description">Job Description:</label>
                        <textarea class="form-control" id="description" name="description" rows="4"
                            required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="photo">Photo:</label>
                        <input type="file" class="form-control-file" id="photo" name="photo" required>
                    </div>

                    <div class="form-group>
                        <label for="salary">Salary:</label>
                        <input type="number" class="form-control" id="salary" name="salary" required>
                    </div>
                    <div class="form-group>
                        <label for="experience">Location:</label>
                        <input type="text" class="form-control" id="location" name="location" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Job</button>
                </form>
            </div>

            

        <div class="row mt-5" style="font-family: Arial, sans-serif;">
            <div class="col-md-12" style="background-color: #f2f2f2; padding: 20px;">
                <h2 style="color: #333;">User Applied Data</h2>
                <table class="table" style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr style="background-color: #ccc;">
                            <th style="padding: 10px;">User</th>
                            <th style="padding: 10px;">Job Title</th>
                            <th style="padding: 10px;">Full Name</th>
                            <th style="padding: 10px;">Email</th>
                            <th style="padding: 10px;">Phone</th>
                            <th style="padding: 10px;">Experience</th>
                            <th style="padding: 10px;">Resume</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in application %}
                        <tr style="background-color: #fff;">
                            <td style="padding: 10px;">{{ application.user.username }}</td>
                            <td style="padding: 10px;">{{ application.job.title }}</td>
                            <td style="padding: 10px;">{{ application.fullname }}</td>
                            <td style="padding: 10px;">{{ application.email }}</td>
                            <td style="padding: 10px;">{{ application.phone }}</td>
                            <td style="padding: 10px;">{{ application.experience }}</td>
                            <td style="padding: 10px;"><a href="{{ application.resume.url }}" style="text-decoration: none; color: blue;">{{ application.resume.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
